*{
    margin: 0;
    padding: 0;
}
.bg-body{
    background-image: url("./images/hotel.png");
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
}


.sub-header{
    background-color: black;
    color: white;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 6%;
  

    span i{
        padding: 5px;
        color: #AD8121;
    }
    
   
}
.face{
    margin-left: 8%;
    padding: 5px;
}

.header{
    display: flex;
}
.header-img{
    margin-left: 7%;
    img{
        width: 250px;
        height: 75px;
       margin-top: 20px;
    }
}
.link{
    margin-top: 50px;
    justify-content: space-between;
    flex-direction: column;
}
.link a{
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin: 15px;
}
.link a:hover{
    color: #AD8121;
}
.bi-list{
    display: none;
    font-size: 30PX;
    color: #AD8121;
}

.button1{
    margin-top: -30px;
        width: 150px;
        height: 40px;
        padding: 10px 30px 10px 30px;
        border-radius: 10px;
        color: #fff;
        outline: none;
        border: none;
        background-color:  #D0AD61;
}
.button1:hover{
    background-color: #AD8121;
}
.banner{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;

    h1{
        color: white;
        font-family: Playfair Display;
        font-size: 50px;
        font-weight: 800;
        line-height: 69px;
        text-align: center;
    }
    p{
        padding-top: 10px;
        padding-bottom: 10px;
        color: white;
        font-size: 18px;
        font-weight: 400;
        line-height: 24.51px;
        text-align: center;

    }

}
.mmm{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 5%;
    margin-top: 8%;
    gap: 29px;
}
.mm{
    background-image: url("./images/rest.png");
    background-repeat: no-repeat;
    width: 573px;
height: 600px;

}
.mmb{
    background-image: url("./images/gym.png");
    background-repeat: no-repeat;
    width: 573px;
height: 600px;

}
.mmc{
    background-image: url("./images/lou.png");
    background-repeat: no-repeat;
    width: 573px;
height: 600px;

}
.mmp{
    background-image: url("./images/poo.png");
    background-repeat: no-repeat;
    width: 573px;
height: 600px;

}
.m{
    background-color: black;
    color: white;
    margin-top: 85%;
    width: 400px;
height: 113px;
top: 485px;
gap: 0px;
border-radius: 0px 30px 0px 30px;
opacity: 0px;
h1{
    padding: 10%;
}
}
.m:hover{
    color: #AD8121;
}
.m2{
    background-color: black;
    color: white;
    margin-top: 85%;
    width: 400px;
height: 113px;
top: 485px;
gap: 0px;
border-radius: 0px 30px 0px 30px;
opacity: 0px;
h1{
    padding: 10%;
}
}
.m2:hover{
    color: #AD8121;
}
.m3{
    background-color: black;
    color: white;
    margin-top: 85%;
    width: 400px;
height: 113px;
top: 485px;
gap: 0px;
border-radius: 0px 30px 0px 30px;
opacity: 0px;
h1{
    padding: 10%;
}
}
.m3:hover{
    color: #AD8121;
}
.m4{
    background-color: black;
    color: white;
    margin-top: 85%;
    width: 400px;
height: 113px;
top: 485px;
gap: 0px;
border-radius: 0px 30px 0px 30px;
opacity: 0px;
h1{
    padding: 10%;
}
}
.m4:hover{
    color: #AD8121;
}
.footer{
    margin-top: 80px;
    background-color: #AD8121;
    height: 500px;
}
.footer-nav{
    display: flex;
    margin-left: 65px;
    padding-top: 5%;
    gap: 5%;
}
.footer1{
    width: 250px;
    text-align: justify;
    img{
        width: 250px;
        height: 75px;
    }
    p{
        padding-top: 15px;
        font-family: Open Sans;
font-size: 14px;
font-weight: 400;
line-height: 20px;
text-align: justify;
color: #fff;

    }
}
.footer2{
    width: 250px;
    color: #fff;
    padding-left: 5%;
    h2{
        padding-top: 20px;
        font-family: Playfair Display;
font-size: 25px;
font-weight: 600;
line-height: 18px;
    }
}
.navlink a{
    color: #fff;
    padding-top: 20px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}
.footer3{
    width: 250px;
    color: #fff;
    h2{
        padding-top: 20px;
        font-family: Playfair Display;
font-size: 25px;
font-weight: 600;
line-height: 18px;
    }
    p{
        padding-top: 20px;
        width: 70%;
    }
   
}

.footer4{
    width: 260px;
    color: #fff;
    h2{
        padding-top: 20px;
        font-family: Playfair Display;
font-size: 25px;
font-weight: 600;
line-height: 18px;
    }
    p{
        padding-top: 20px;
    }
}
.yy{
    display: flex;
    background-color: white;
    margin-left: 65px;
    margin-top: 3%;
    border-radius: 5px;
    width: 90%;
    height: 30px;
    padding-top: 15px;
    padding-left: 10px;

    p{
        font-family: Open Sans;
font-size: 12px;
font-weight: 400;
line-height: 18px;
    }
  
}
.p1{
    margin-left: 50%;
}






/*media queries*/
@media screen and (max-width:1024px) {
    .header-img{
        img{
            width: 200px;
        }
     }
     .link a{
        padding: 4px;
        margin: 4px;
     }
     .mm{
        width: 450px;
        border-radius: 20px;
     }
     .mmb{
        width: 450px;
        border-radius: 20px;
     }
     .mmc{
        width: 450px;
        border-radius: 20px;
     }
     .mmp{
        width: 450px;
        border-radius: 20px;
     }
     .m{
        margin-top: 108%;
     }
     .m2{
        margin-top: 108%;
     }
     .m3{
        margin-top: 108%;
     }
     .m4{
        margin-top: 108%;
     }
     .footer{
        height: 770px;
     }
     .footer-nav{
        gap: 2%;
       }
       .footer1{
        width: 200px;
       }
       .footer2{
        width: 200px;
       }
       .footer3{
        width: 200px;
      
       }
       .footer4{
        width: 200px;
       }
     .yy{
        height: 50px;
     }
    
    

}
@media screen and (max-width:912px) {
    .header-img{
        img{
            width: 200px;
        }
     }
     .link{
        margin-left: 2%;
     }
     .link a{
        padding: 2px;
        margin: 2px;
     }
     .mm{
        width: 410px;
     }
     .mmb{
        width: 410px;
     }
     .mmc{
        width: 410px;
     }
     .mmp{
        width: 410px;
     }
     .m{
        width: 300px;
        margin-top: 118%;
     }
     .m2{
        width: 300px;
        margin-top: 118%;
     }
     .m3{
        width: 300px;
        margin-top: 118%;
     }
     .m4{
        width: 300px;
        margin-top: 118%;
     }
}
@media screen and (max-width:820px) {
    .header-img{
        margin-left: 4%;
        img{
            width: 200px;
        }
     }
     .link{
        margin-top: 49px;
        margin-left: 10px;
     }
     .link a{
        padding: 3px;
        margin: 2px;
     }
     .button1{
        width: 85px;
        height: 59px;
     }
     .mm{
        width: 360px;
        border-radius: 20px;
    }
    .mmb{
        width: 360px;
        border-radius: 20px;
    }
    .mmc{
        width: 360px;
        border-radius: 20px;
    }
    .mmp{
        width: 360px;
        border-radius: 20px;
    }
    .m{
        width: 200px;
        margin-top: 135%;
    }
    .m2{
        width: 200px;
        margin-top: 135%;
    }
    .m3{
        width: 200px;
        margin-top: 135%;
    }
    .m4{
        width: 200px;
        margin-top: 135%;
    }
    .footer{
        height: 550px;
    }
    .footer-nav{
        margin-left: 30px;
        gap: 2%;
       }
       .footer1{
        width: 200px;
       }
       .footer2{
        width: 200px;
       }
       .footer3{
        width: 200px;
      
       }
       .footer4{
        width: 200px;
       }
       .yy{
        margin-left: 20px;
        width: 95%;
        height: 40px;
       }
}
@media screen and (max-width:768px) {
    .bg-body{
        width: 100%;
    }
    .sub-header{
        padding-left: 3%;
     }
    .button1{
        font-size: 10px;
        height: 50px;
    }
     .header-img{
        img{
            width: 150px;
        }
     }
     .link{
        margin-left: 5px;
     }
     .link a{
        padding: 2px;
        margin: 2px;
     }
     .mm{
        width: 340px;
     }
     .mmb{
        width: 340px;
     }
     .mmc{
        width: 340px;
     }
     .mmp{
        width: 340px;
     }
     .m{
        margin-top: 143%;
     }
     .m2{
        margin-top: 143%;
     }
     .m3{
        margin-top: 143%;
     }
    .m4{
        margin-top: 143%;
    }
    .footer1{
        width: 180px;
        img{
            width: 180px;
        }
    }
    .footer2{
        width: 180px;
    }
    .footer3{
        width: 180px;
    }
    .footer4{
        width: 180px;
    }
}
@media screen and (max-width:540px) {
    .bg-body{
        width: 100%;
    }
    .header-img{
        img{
            width: 180px;
        }
    }
    .link{
        margin-top: 19%;
        margin-left: 30%;
        display: flex;
        flex-direction: column;
        height: 200px;
        gap: 5%;
     }
     .link a{
        display: block;
        text-align: right;
     }
     .sub-header{
        display: none;
     }
     .menu{
        display: inline;
     }
    .button1{
        margin-top: 5%;
        width: 100%;
        height: 40px;
        font-size: 15px;
    }
   
    .bi-list{
        display: inline;
        position: absolute;
        top: 6%;
        right: 25px;

    }
     .btn{
        margin-right: 12%;
    }
    .mmm{
        display: block;
    }
    .mm{
        margin-top: 30px;
        margin-bottom: 30px;
        border-radius: 20px;
        width: 500px;
    }
    .m{
        width: 290px;
        margin-top: 10%;
        position: relative;
    } 
    .mmb{
        margin-top: 30px;
        margin-bottom: 30px;
        border-radius: 20px;
        width: 500px;
    }
    .m2{
        width: 290px;
        margin-top: 10%;
        position: relative;
    } 
    .mmc{
        margin-top: 30px;
        margin-bottom: 30px;
        border-radius: 20px;
        width: 500px;
    }
    .m3{
        width: 290px;
        margin-top: 10%;
        position: relative;
    } 
    .mmp{
        margin-top: 30px;
        margin-bottom: 30px;
        border-radius: 20px;
        width: 500px;
    }
    .m4{
        width: 290px;
        margin-top: 10%;
        position: relative;
    } 
    .footer{
        height: 1300px;
    }
    .footer-nav{
        display: block;
    }
    .footer1{
        img{
            width: 250px;
        }
        p{
            font-size: 20px;
            width: 450px;
            line-height: 29px;
        }
    }
    .footer2{
        padding-top: 5%;
        margin-left: -5%;
        h2{
            font-size: 30px;
        }
    }
    .navlink a{
            font-size: 20px;
            line-height: 29px;
    }
    .footer3{
        padding-top: 5%;
        h2{
            font-size: 30px;
        }
        p{
            font-size: 20px;
            width: 450px;
            line-height: 29px;
        }
    }
    .footer4{
        padding-top: 5%;
        h2{
            font-size: 30px;
        }
        p{
            font-size: 20px;
            width: 450px;
            line-height: 29px;
        }
    }
    .yy{
        margin-top: 10%;
        height: 50px;
        width: 80%;
    }
    .p1{
        margin-left: 2%;
    }
}
@media screen and (max-width:430px) {
    .link{
        margin-top: 20%;
        margin-left: 15%;
        display: flex;
        flex-direction: column;
        gap: 5%;
    }
    .link a{
        display: block;
        margin: 0;
    }
    .bi-list{
        top: 4.5%;
    }
    .mm{
        width: 400px;
    }
    .mmb{
        width: 400px;
    }
    .mmc{
        width: 400px;
    }
    .mmp{
        width: 400px;
    }
    .m{
        width: 250px;
    }
    .m2{
        width: 250px;
    }
    .m3{
        width: 250px;
    }
    .m4{
        width: 250px;
    }
    .footer1{
        p{
            width: 350px;
        }
    }
    .footer3{
        p{
            width: 350px;
        }
    }
    .footer4{
        p{
            width: 350px;
        }
    }
}
@media screen and (max-width:414px) {
    .bi-list{
        right: 10px;
    }
    .mm{
        width: 380px;
    }
    .mmb{
        width: 380px;
    }
    .mmc{
        width: 380px;
    }
    .mmp{
        width: 380px;
    }
    .footer1{
        width: 200px;
        img{
            width: 200px;
        }
        p{
            width: 300px;
        }
    }
    .footer3{
        padding-top: 5%;
        h2{
            font-size: 30px;
        }
        p{
            font-size: 20px;
            width: 300px;
            line-height: 29px;
        }
    }
    .footer4{
        padding-top: 5%;
        h2{
            font-size: 30px;
        }
        p{
            font-size: 20px;
            width: 300px;
            line-height: 29px;
        }
    }
}
@media screen and (max-width:390px) {
    .bg-body{
        width: 100%;
    }
    .button1{
        width: 100%;
        font-size: 12px;
    }
    .bi-list{
        right: 5px;
    }
    .mm{
        width: 350px;
    }
    .mmb{
        width: 350px;
    }
    .mmc{
        width: 350px;
    }
    .mmp{
        width: 350px;
    }
    
}
@media screen and (max-width:360px) {
    .button1{
        width: 90%;
        height: 35px;
        font-size: 10px;
    }
    .bi-list{
        right: 12px;
    }
    .link{
        margin-left: 9%;
    }
    .mm{
        width: 320px;
    }
    .mmb{
        width: 320px;
    }
    .mmc{
        width: 320px;
    }
    .mmp{
        width: 320px;
    }
    .footer1{
        width: 100px;
        p{
            width: 290px;
        }
     }
     .footer3{
        p{
            width: 290px;
        }
     }
     .footer4{
        p{
            width: 290px;
        }
     }
    
    .yy{
        width: 77%;
    }
    
    
}
@media screen and (max-width:344px) {
    .button1{
        margin-left: -10%;
        width: 80%;
        height: 40px;
        font-size: 12px;
    }
    .bi-list{
        right: 19px;
    }
    .link{
        margin-top: 25%;
        margin-left: 1%;
    }
    
}